@model nb.Models.Need

<h2>Add a Request</h2>

@using (Html.BeginForm())
{
   @Html.AntiForgeryToken() 


   <fieldset>
       <legend></legend>

       <div >
           <div class="editor-label">
               @Html.LabelFor(model => model.Name)
           </div>
           <div class="editor-field">
               @Html.EditorFor(model => model.Name)
               @Html.ValidationMessageFor(model => model.Name)
           </div>
		</div>
	</fieldset>
	<p>
       <input type="submit" value="Create" />
   </p>
}