@model IList<nb.Models.Need>

<div>
	
   <h2>Outstanding Needs</h2>
	
   <a rel='feedurl' href='/Dinners/WebSliceUpcoming' style='display: none;'></a>
   <ul class="">
       @foreach (var need in Model) {        
           <li>
               @Html.ActionLink(need.Name, "Details", new { id = need.Id })
               on <strong>@need.CreateDate.ToString("HH:mm tt")</strong> 
           </li>
       }
   </ul>
</div>

